<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Create New Event</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="/js/event-form-script.js"></script>
</head>
<body>
<div class="container mt-5">
    <h2>Create New Event</h2>
    <form th:action="@{/all-events/create}" method="post" id="createEventForm">
        <!-- Description -->
        <div class="form-group">
            <label for="description">Description:</label>
            <input type="text" class="form-control" id="description" name="description">
        </div>

        <!-- Date and Time -->
        <div class="form-group">
            <label for="dateTime">Date and Time:</label>
            <input type="datetime-local" class="form-control" id="dateTime" name="dateTime" required>
        </div>

        <!-- Sport Type Dropdown -->
        <div class="form-group">
            <label for="sportType">Sport Type:</label>
            <select class="form-control" id="sportType" name="sportId" required>
                <option value="" selected disabled>Select a Sport</option>
                <option th:each="sport: ${sports}" th:value="${sport.id}" th:text="${sport.name}"/>
            </select>
        </div>

        <!-- Team 1 Dropdown -->
        <div class="form-group">
            <label for="team1">Team 1:</label>
            <select class="form-control" id="team1" name="team1Id" required>
                <option value="" selected disabled>Select a Team</option>
                <option th:each="team : ${teams}" th:value="${team.id}" th:text="${team.name + ' - ' + team.sportType.name}"></option>
            </select>
        </div>

        <!-- Team 2 Dropdown -->
        <div class="form-group">
            <label for="team2">Team 2:</label>
            <select class="form-control" id="team2" name="team2Id" required>
                <option value="" selected disabled>Select a Team</option>
                <option th:each="team : ${teams}" th:value="${team.id}" th:text="${team.name + ' - ' + team.sportType.name}"></option>
            </select>
        </div>

        <!-- Submit Button -->
        <button type="submit" class="btn btn-primary">Create Event</button>
        <a th:href="@{/all-events}" class="btn btn-secondary">Back</a>
    </form>
</div>
</body>
</html>
