<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sports Management</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="/js/confirmation-script.js"></script>
</head>
<body>

<div class="container mt-5">

    <h1>Sport Menu</h1>

    <!-- Button to create a new sport -->
    <a th:href="@{/all-sports/create}" class="btn btn-primary">Create New Sport</a>

    <!-- Button to access the event menu -->
    <a th:href="@{/all-events}" class="btn btn-primary">Event Menu</a>

    <!-- Button to access the team menu -->
    <a th:href="@{/all-teams}" class="btn btn-primary">Team Menu</a>

    <!-- Display the list of sports with delete buttons -->
    <table class="table mt-3">
        <thead>
        <tr>
            <th>Sport Name</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <!-- Loop through the list of sports -->
        <tr th:each="sport : ${sports}">
            <td th:text="${sport.name}"></td>
            <td>
                <!-- Button to delete the sport -->
                <a class="btn btn-primary" th:attr="onclick='showConfirmationModal(\'sports\',\'' + ${sport.name} + '\',\'' + ${sport.id} + '\')'">Delete</a>

            </td>
        </tr>
        </tbody>
    </table>

</div>
<!-- Modal for showing confirmation -->
<div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmationModalLabel">Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalBody">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="confirmDelete">Delete with connected Teams and Events</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!-- Include Bootstrap JS and Popper.js -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>
